.w1200 {
  width: 1400px;
  margin: 0 auto; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0; }

.title {
  background-color: black; }
  .title .title_left {
    display: inline-block;
    height: 60px;
    width: 300px;
    vertical-align: middle; }
    .title .title_left .logo {
      text-align: center;
      vertical-align: middle;
      margin-top: 20px; }
  .title .title_right {
    display: inline-block;
    vertical-align: middle;
    height: 60px; }
    .title .title_right .nav {
      margin-left: 500px;
      display: inline-block; }
      .title .title_right .nav a {
        transition: 0.1s linear;
        color: white; }
        .title .title_right .nav a .navli {
          display: block;
          float: left;
          width: 100px;
          line-height: 60px;
          text-align: center;
          transition: 0.1s linear; }
        .title .title_right .nav a .option {
          position: relative; }
          .title .title_right .nav a .option .arrow {
            display: inline-block;
            transform: rotate(0deg);
            transition: transform 0.2s linear; }
          .title .title_right .nav a .option .product {
            visibility: hidden;
            position: absolute;
            width: 160px;
            height: 0px;
            background-color: #1b1b1b;
            transition: 0.3s ease;
            left: -30px;
            z-index: 1; }
            .title .title_right .nav a .option .product .pro {
              visibility: hidden;
              color: white;
              font-size: 14px;
              text-align: center;
              line-height: 20px;
              margin-top: 10px; }
              .title .title_right .nav a .option .product .pro:hover {
                color: #d29d37; }
        .title .title_right .nav a:hover > .option > .arrow {
          transform: rotate(180deg); }
        .title .title_right .nav a:hover > .option > .product {
          visibility: visible;
          height: 130px; }
        .title .title_right .nav a:hover > .option > .product > .pro {
          visibility: visible; }
        .title .title_right .nav a:hover {
          color: #d29d37; }
        .title .title_right .nav a:hover > .navli {
          background-color: #1b1b1b; }
      .title .title_right .nav::after {
        content: "";
        display: block;
        clear: both; }

.carousel {
  overflow: hidden;
  position: relative; }
  .carousel .wordbox {
    position: absolute;
    left: 100px;
    top: 150px; }
    .carousel .wordbox h1 {
      font-size: 50px;
      color: orangered;
      margin-bottom: 0px; }
    .carousel .wordbox .introduction {
      color: white;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 5px; }
    .carousel .wordbox .text {
      display: inline-block;
      color: white;
      margin-top: 30px; }
      .carousel .wordbox .text p {
        font-size: 30px;
        margin-bottom: 0px; }
      .carousel .wordbox .text span {
        font-size: 10px; }
    .carousel .wordbox .text + .text {
      margin-left: 100px; }
  .carousel .btnbox {
    position: absolute;
    width: 120px;
    height: 30px;
    top: 660px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 1s ease; }
    .carousel .btnbox .labelstyle {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 5px;
      background-color: gray;
      border-radius: 15px; }
  .carousel input {
    display: none; }
  .carousel #rad1:checked ~ .picbox {
    margin-left: 0px; }
  .carousel #rad1:checked ~ .btnbox > label:nth-of-type(1) {
    background: radial-gradient(#1d2e3e 7px, gray 8px); }
  .carousel #rad2:checked ~ .picbox {
    margin-left: -1400px; }
  .carousel #rad2:checked ~ .btnbox > label:nth-of-type(2) {
    background: radial-gradient(#1d2e3e 7px, gray 8px); }
  .carousel #rad3:checked ~ .picbox {
    margin-left: -2800px; }
  .carousel #rad3:checked ~ .btnbox > label:nth-of-type(3) {
    background: radial-gradient(#1d2e3e 7px, gray 8px); }
  .carousel .picbox {
    width: 4200px;
    transition: 1s ease; }
    .carousel .picbox img {
      width: 1400px;
      float: left; }
      .carousel .picbox img::after {
        content: "";
        display: block;
        clear: both; }

.cont1 {
  margin-top: 50px; }
  .cont1 h2 {
    font-size: 40px;
    text-align: center; }
  .cont1 p {
    font-size: 20px;
    color: #5C5C5C;
    text-align: center; }
  .cont1 .cont1pic {
    width: 1400px;
    height: 680px;
    background: url("./img/cont1.jpg") no-repeat center center;
    position: relative; }
    .cont1 .cont1pic .cont1float {
      position: absolute;
      top: 600px;
      right: 200px; }
      .cont1 .cont1pic .cont1float .left {
        display: inline-block;
        float: left;
        width: 300px;
        height: 360px;
        background: url(./img/left.jpg) no-repeat center center;
        position: relative; }
        .cont1 .cont1pic .cont1float .left .leftlog {
          position: absolute;
          top: 120px;
          left: 40px; }
          .cont1 .cont1pic .cont1float .left .leftlog p {
            text-align: left;
            color: white;
            font-size: 25px;
            font-weight: 600;
            margin-left: 5px;
            margin-bottom: 0px; }
          .cont1 .cont1pic .cont1float .left .leftlog h3 {
            margin-top: 5px;
            font-weight: 500;
            color: white;
            font-size: 17px; }
      .cont1 .cont1pic .cont1float .right {
        display: inline-block;
        float: left;
        width: 300px;
        height: 360px;
        background: url(./img/right.jpg) no-repeat center center;
        position: relative; }
        .cont1 .cont1pic .cont1float .right .rightlog {
          position: absolute;
          top: 120px;
          left: 40px; }
          .cont1 .cont1pic .cont1float .right .rightlog p {
            text-align: left;
            color: white;
            font-size: 25px;
            font-weight: 600;
            margin-left: 5px;
            margin-bottom: 0px; }
          .cont1 .cont1pic .cont1float .right .rightlog h3 {
            margin-top: 5px;
            font-weight: 500;
            color: white;
            font-size: 17px; }
  .cont1 .cont1text {
    width: 300px;
    margin-left: 200px; }
    .cont1 .cont1text p {
      font-size: 40px;
      font-weight: 600;
      color: black;
      text-align: left;
      margin-bottom: 20px; }
    .cont1 .cont1text span {
      color: #535353;
      font-size: 15px; }
    .cont1 .cont1text .read {
      margin-top: 20px;
      color: #333333;
      font-size: 10px;
      font-weight: 600; }

.cont2 {
  margin-top: 250px; }
  .cont2 p {
    text-align: center;
    font-size: 40px;
    font-weight: 600; }
  .cont2 .cont2box {
    width: 1400px;
    overflow: hidden;
    position: relative; }
    .cont2 .cont2box .btn_left {
      position: absolute;
      top: 150px;
      left: 20px;
      background-color: transparent;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 15px; }
      .cont2 .cont2box .btn_left label {
        display: block;
        width: 30px;
        line-height: 30px;
        font-size: 50px;
        color: white;
        text-align: center; }
    .cont2 .cont2box .btn_right {
      position: absolute;
      top: 150px;
      right: 20px;
      background-color: transparent;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 15px; }
      .cont2 .cont2box .btn_right label {
        display: block;
        width: 30px;
        line-height: 30px;
        font-size: 50px;
        color: white;
        text-align: center; }
    .cont2 .cont2box input {
      display: none; }
    .cont2 .cont2box #cont2rd1:checked ~ .cont2pic {
      margin-left: 0px; }
    .cont2 .cont2box #cont2rd2:checked ~ .cont2pic {
      margin-left: -466px; }
    .cont2 .cont2box .cont2pic {
      width: 1866px;
      transition: 1s ease; }
      .cont2 .cont2box .cont2pic img {
        width: 466px;
        float: left; }

.cont3 {
  margin-top: 150px; }
  .cont3 .cont3_left {
    display: inline-block;
    width: 400px;
    height: 550px;
    background: url("./img/cont3_left.jpg") no-repeat center center;
    background-size: contain;
    margin-left: 60px; }
  .cont3 .cont3_middle {
    display: inline-block;
    width: 400px;
    height: 550px;
    background: url("./img/cont3_right.jpg") no-repeat center center;
    background-size: contain;
    margin-left: 20px;
    vertical-align: top; }
  .cont3 .cont3_right {
    vertical-align: top;
    margin-left: 20px;
    display: inline-block;
    height: 550px; }
    .cont3 .cont3_right p {
      display: block;
      margin-top: 60px;
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px; }
    .cont3 .cont3_right span {
      display: block;
      font-size: 17px;
      color: #5C5C5C; }
    .cont3 .cont3_right .cont3_text {
      margin-top: 100px;
      display: inline-block;
      margin-right: 40px; }
      .cont3 .cont3_right .cont3_text p {
        font-size: 40px;
        font-weight: 500; }

.cont4 {
  height: 750px;
  margin-top: 100px;
  background: url(./img/cont4_img.jpg) no-repeat center center;
  background-size: cover;
  position: relative; }
  .cont4 .cont4_text {
    position: absolute;
    top: 220px;
    left: 110px;
    color: white; }
    .cont4 .cont4_text p:nth-of-type(1) {
      font-size: 40px;
      font-weight: 700; }
    .cont4 .cont4_text p:nth-of-type(2) {
      font-size: 15px;
      margin-bottom: 40px; }
    .cont4 .cont4_text span {
      font-weight: 600; }

.bottom {
  height: 500px;
  background-color: #0c0c0c; }
  .bottom .son_bottom1 {
    display: inline-block;
    margin-left: 110px;
    margin-top: 130px; }
  .bottom .son_bottom2 {
    margin-top: 130px;
    display: inline-block;
    color: white;
    margin-left: 200px;
    vertical-align: top; }
    .bottom .son_bottom2 li {
      color: #CCCCCC;
      margin-bottom: 20px;
      font-size: 14px; }
    .bottom .son_bottom2 li:nth-of-type(1) {
      color: white;
      font-size: 17px; }
  .bottom .son_bottom3 {
    display: inline-block;
    color: white;
    margin-top: 130px;
    margin-left: 200px;
    vertical-align: top;
    margin-bottom: 100px; }
    .bottom .son_bottom3 li {
      color: #CCCCCC;
      margin-bottom: 20px;
      font-size: 14px; }
    .bottom .son_bottom3 li:nth-of-type(1) {
      color: white;
      font-size: 17px; }
  .bottom .son_bottom4 {
    margin-top: 130px;
    vertical-align: top;
    display: inline-block;
    margin-left: 300px; }
    .bottom .son_bottom4 span {
      display: block;
      color: #CCCCCC;
      font-size: 14px;
      text-align: right; }
    .bottom .son_bottom4 p {
      color: white;
      font-size: 25px;
      font-weight: 600; }
  .bottom .bq {
    width: 1200px;
    margin: 0 auto; }
    .bottom .bq hr {
      border-color: #373737; }
    .bottom .bq .bq_left {
      display: inline-block;
      margin-top: 40px;
      color: #969696;
      font-size: 15px; }
    .bottom .bq .bq_right {
      display: inline-block;
      margin-top: 40px;
      color: #969696;
      font-size: 15px;
      float: right; }
