.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.w1400 {
  width: 1400px; }

.head {
  margin: 0 auto;
  background-color: black; }
  .head .headleft {
    display: inline-block;
    position: relative;
    vertical-align: middle; }
    .head .headleft a .webname {
      display: inline-block;
      color: white;
      margin-left: 120px;
      line-height: 55px;
      font-size: 35px;
      font-weight: 800;
      vertical-align: middle; }
    .head .headleft .nav {
      display: inline-block;
      vertical-align: middle; }
      .head .headleft .nav li {
        display: inline-block;
        width: 70px;
        height: 54px;
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        line-height: 54px; }
        .head .headleft .nav li .font {
          display: inline-block;
          color: white;
          width: 70px;
          height: 54px; }
          .head .headleft .nav li .font:hover {
            background-color: #333; }
        .head .headleft .nav li .money {
          color: orange; }
      .head .headleft .nav .fenlei {
        position: relative; }
        .head .headleft .nav .fenlei .fenleibox {
          display: none;
          position: absolute;
          width: 200px;
          height: 200px;
          background-color: #fff;
          box-shadow: 0 0 5px #333;
          z-index: 1; }
          .head .headleft .nav .fenlei .fenleibox li a {
            color: #333;
            font-size: 15px; }
            .head .headleft .nav .fenlei .fenleibox li a:hover {
              color: #63b504; }
        .head .headleft .nav .fenlei:hover > .fenleibox {
          display: block; }
      .head .headleft .nav .chicun {
        position: relative; }
        .head .headleft .nav .chicun .chicunbox {
          display: none;
          position: absolute;
          width: 300px;
          height: 150px;
          background-color: #fff;
          box-shadow: 0 0 5px #333;
          z-index: 1; }
          .head .headleft .nav .chicun .chicunbox li {
            margin-right: 20px; }
            .head .headleft .nav .chicun .chicunbox li a {
              color: #333;
              font-size: 15px; }
              .head .headleft .nav .chicun .chicunbox li a:hover {
                color: #63b504; }
        .head .headleft .nav .chicun:hover > .chicunbox {
          display: block; }
      .head .headleft .nav::after {
        content: "";
        display: block;
        clear: both; }
    .head .headleft .sousuokuang {
      position: absolute;
      left: 700px;
      top: 14px;
      margin-top: 0;
      display: inline-block; }
      .head .headleft .sousuokuang input {
        height: 30px;
        width: 250px;
        margin: 0;
        padding: 0;
        border: 0px;
        background-color: #333333;
        color: #71767a; }
    .head .headleft #btn {
      display: none; }
    .head .headleft #btnsousuo {
      position: absolute;
      left: 749px;
      top: 14px;
      width: 30px;
      height: 30px;
      background-color: #333333;
      margin-left: 200px;
      text-align: center; }
      .head .headleft #btnsousuo .tubiao1 {
        width: 20px;
        height: 20px;
        padding-top: 5px; }
  .head .headright {
    display: inline-block;
    margin-left: 400px;
    vertical-align: middle;
    line-height: 35px; }
    .head .headright .reg {
      display: inline-block;
      width: 100px;
      height: 35px;
      background-color: #63b504;
      color: white;
      text-align: center;
      border-radius: 2px; }
      .head .headright .reg:hover {
        background-color: #5aa405;
        transition: all 0.5s linear; }
    .head .headright .login {
      margin-left: 20px;
      display: inline-block;
      width: 75px;
      height: 34px;
      color: white;
      background-color: black;
      border: 1px solid white;
      text-align: center;
      border-radius: 2px; }
      .head .headright .login:hover {
        background-color: white;
        color: black;
        transition: all 0.5s linear; }

.carousel {
  width: 1300px;
  height: 600px;
  margin: 10px auto;
  overflow: hidden;
  position: relative; }
  .carousel .boxbtn {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 0;
    top: 550px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center; }
    .carousel .boxbtn .casbtn {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #333;
      border-radius: 10px;
      transition: all 0.5s linear; }
  .carousel input {
    display: none; }
  .carousel .rad1:checked ~ .picbox {
    margin-left: 0px; }
  .carousel .rad1:checked ~ .boxbtn label:nth-of-type(1) {
    background-color: #63b504; }
  .carousel .rad2:checked ~ .picbox {
    margin-left: -1300px; }
  .carousel .rad2:checked ~ .boxbtn label:nth-of-type(2) {
    background-color: #63b504; }
  .carousel .rad3:checked ~ .picbox {
    margin-left: -2600px; }
  .carousel .rad3:checked ~ .boxbtn label:nth-of-type(3) {
    background-color: #63b504; }
  .carousel .rad4:checked ~ .picbox {
    margin-left: -3900px; }
  .carousel .rad4:checked ~ .boxbtn label:nth-of-type(4) {
    background-color: #63b504; }
  .carousel .picbox {
    width: 5200px;
    height: 600px;
    transition: all 0.5s linear; }
    .carousel .picbox img {
      width: 1300px;
      height: 600px;
      object-fit: cover;
      float: left; }
